@page
@using Models
@model IndexModel

@{
    ViewData["Title"] = "NASA API";
    var image = (NASAImage)TempData["NASAImage"];
}

<h2>
    Acessando APIs REST da NASA -
    Imagem do Dia @image.Date.ToString("dd/MM/yyyy")
</h2>

<h3>@image.Title</h3>

<div>
    @if (image.MediaType == "image")
    {
        <img src="@image.Url" alt="NASA" />
    }
    else
    {
        <iframe id="apod_vid_id" type="text/html" src="@image.Url" width="640" height="385"></iframe>
    }
</div>

<p>@image.Description</p>